// Place all the styles related to the Streams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.actions { display: none; }

h1, input {
  font-size: 24pt;
  width: 100%;
  text-align: center;
}

input {
  border: 1px solid #ccc;
  padding: 0.2em;
}